*{
	margin : 0;
	padding: 0;
}
h1{
	color: red;
	text-align: center;
}
button{
	cursor: pointer;
}
div#tang {
    margin-top: 100px;
    margin-left: 249px;
}
div#giam {
    margin-top: 100px;
    margin-left: 249px;
}